{% load static %}

<html style="font-size: 16px;">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="Add New Element, New Research">
      <meta name="description" content="">
      <meta name="page_type" content="np-template-header-footer-from-plugin">

      <title>Database Componenti Elettronici</title>

      <link rel="stylesheet" href="{% static '/website/css/nicepage.css'%}" media="screen">
      <link rel="stylesheet" href="{% static '/website/css/Home.css'%}" media="screen">
      <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

      <meta name="theme-color" content="#478ac9">
      <meta property="og:title" content="Home">
      <meta property="og:type" content="website">

      <script class="u-script" type="text/javascript" src="{% static '/website/js/jquery.js'%}" defer=""></script>
      <script class="u-script" type="text/javascript" src="{% static '/website/js/nicepage.js'%}" defer=""></script>
      <script type="application/ld+json">

          {

		      "@context": "http://schema.org",
              "@type": "Organization",
              "name": "SERGroup",
              "logo": "{% static '/website/images/LogoSERG-NoWritings.png'%}"

          }

      </script>

  </head>
  <body class="u-body">

      <header class="u-clearfix u-header u-header" id="sec-1c68">

          <div class="u-clearfix u-sheet u-sheet-1">

            <a href="{% url 'home' %}" class="u-image u-logo u-image-1"
               data-image-width="1600" data-image-height="1131">
              <img src="{% static '/website/images/LogoSERG-NoWritings.png'%}" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
              <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                  <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                  <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></g></svg>
                </a>
              </div>
              <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">

                    {% include "menu.html" %}

                </ul>
              </div>
              <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                  <div class="u-inner-container-layout u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                      <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">

                          {% include "menu.html" %}

                      </ul>
                  </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            </nav>

          </div>

      </header>

      {% block content %}
      {% endblock %}

      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-4619">

          <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">

              <p class="u-align-left u-small-text u-text u-text-variant u-text-1">

                  Database Strumenti Elettronici -
                  <span>

                      <a href="https://www.dief.unifi.it/vp-177-serg-group-english-version.html" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">SERG Group</a>

                  </span><br>
                  <span style="font-size: 0.75rem;">per informazioni scrivere a:<br>

                      <a href="mailto: pietro.ungar@unifi.it" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">pietro.ungar@unifi.it</a>

                  </span>

              </p>

          </div>

      </footer>

  </body>
</html>